<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Tarefas</title>
</head>
<body>
    <h1> Lista de Tarefas </h1>


    <div>
        <h3>
            Tarefa 1
        </h3>
        <img src="https://picsum.photos/id/137/200/200" alt="imagem 1">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto, praesentium provident obcaecati et 
            laborumbundleRenderer.renderToStream 
            magnam placeat deleniti ab numquam ipsam ratione sit quae. 
            Vero asperiores, culpa odit commodi placeat iusto!
        </p>
    </div>

    <div>
        <h3>
            {{ nome }}
        </h3>
        <img src="https://picsum.photos/id/537/200/200" alt="imagem 2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto, praesentium provident obcaecati et 
            laborumbundleRenderer.renderToStream 
            magnam placeat deleniti ab numquam ipsam ratione sit quae. 
            Vero asperiores, culpa odit commodi placeat iusto!
        </p>
    </div>

    <div>
        <h3>
            {{ tarefa_2 }}
        </h3>
        <img src="https://picsum.photos/id/237/200/200" alt="imagem 2">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Architecto, praesentium provident obcaecati et 
            laborumbundleRenderer.renderToStream 
            magnam placeat deleniti ab numquam ipsam ratione sit quae. 
            Vero asperiores, culpa odit commodi placeat iusto!
        </p>
    </div>

    
</body>
</html>

